.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Use viewport width instead of percentage */
    height: 100vh; /* Use viewport height instead of percentage */
    overflow: hidden;
  }
  
  .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    z-index: -1;
  }
  
  .video-background video {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
  }
  
  
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8); /* Transparent white background for the login box */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Drop shadow effect */
    width: 300px; /* Adjust width as needed */
  }
  
  .login-box h2 {
    margin-bottom: 20px;
  }
  
  .login-box input {
    width: calc(100% - 20px); /* Take padding into account */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-box button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-box button:hover {
    background-color: #0056b3;
  }
  